*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right , rgb(119, 173, 202), rgb(172, 172, 227));
}

.todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
    gap: 2vw;
    
}

.to-doForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5vw 10px 10px 10px;
    gap: 2vw;
}

.to-doForm .header{
    h1{
        font-size: 3vw;
        color: aliceblue;
    }
}

.to-doForm .add-todo{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 3vw;
    input{
        width: 20vw;
        font-size: 1vw;
        padding: 5px;
        outline: none;
        border: none;
        border-radius: 4px;
    }

    button{
        position: absolute fixed;
        outline: none;
        border: none;
        width: auto;
        height: auto;
        font-size: 1vw;
        background-color: black;
        color: aliceblue;
        cursor: pointer;
        padding: 6px;
        border-radius: 2px;
        transition: 0.1s ease-in;
    }

    button:active{
        color: rgba(0, 0, 0, 0.5);
        margin-top: 1px;
    }
}

.to-doForm .task-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    width: 100%;
    height: auto;
    padding: 10px;
}

.to-doForm .task-holder
.task{
    
    cursor: pointer;
    width: 100%;
    display: flex;
    min-height: 4vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid aliceblue;
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0.3);
    padding: 10px;
    input{
        outline: none;
        border: none;
        font-size: 1vw;
        border-radius: 4px;
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.2);
        color: aliceblue;
        text-align: center;
    }
    img{
        cursor: pointer;
    }

    h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5vw;
        cursor: auto;
        color: #000000bf;
    }

    .buttons{
        padding-top: 5px;
        display: flex;
        gap: 1vw;
        
    }

    button{
        width: 4vw;
        outline: none;
        border: none;
        font-size: 1vw;
        padding: 5px;
        cursor: pointer;
        color: #000000bf;
        background-color: transparent;
        border-radius: 4px;
        transition: 0.2s ease-in;
    }

    button:nth-child(1):hover{
        background-color: rgb(0, 145, 255);
        color: aliceblue;
    }

    button:nth-child(2):hover{
        background-color: rgb(241, 78, 78);
        color: aliceblue;
    }

    button:active{
        transition: none;
        margin-top: 2px;
    }
}

.done{
    text-decoration: line-through;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 3px;
}

.completed-task-container{
    width: 100%;
    min-height: 5vw;
    height: auto;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 10px;
}

.completed-task-container
.task{
     
    cursor: pointer;
    width: 100%;
    display: flex;
    min-height: 4vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid aliceblue;
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0.3);
    padding: 10px;
    input{
        outline: none;
        border: none;
        font-size: 1vw;
        border-radius: 4px;
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.2);
        color: aliceblue;
        text-align: center;
    }
    img{
        cursor: pointer;
    }

    h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5vw;
        cursor: auto;
        color: #000000bf;
    }

    .buttons{
        padding-top: 5px;
        display: flex;
        gap: 1vw;
        
    }

    button{
        width: 4vw;
        outline: none;
        border: none;
        font-size: 1vw;
        padding: 5px;
        cursor: pointer;
        color: #000000bf;
        background-color: transparent;
        border-radius: 4px;
        transition: 0.2s ease-in;
    }

    button:nth-child(1):hover{
        background-color: rgb(0, 145, 255);
        color: aliceblue;
    }

    button:nth-child(2):hover{
        background-color: rgb(241, 78, 78);
        color: aliceblue;
    }

    button:active{
        transition: none;
        margin-top: 2px;
    }
}

.visually-hidden{
    display: none;
}